<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228896636255-g0r0tu8cu30kf4d5tcql30envnknubdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228896636255-g0r0tu8cu30kf4d5tcql30envnknubdv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228896636255-h0t9spiib0i0h5ibu85isenbillb047c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcMvDC5rv7Y6abeaLMQlx9fymjE-8K6tg</string>
	<key>GCM_SENDER_ID</key>
	<string>228896636255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.retrogamers</string>
	<key>PROJECT_ID</key>
	<string>retro-gamers-ffa23</string>
	<key>STORAGE_BUCKET</key>
	<string>retro-gamers-ffa23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228896636255:ios:dc32eef6df70e162bc8aea</string>
</dict>
</plist>